h1 {
    /*font-weight: bold;*/
    text-align: right;
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    text-align: justify;    
}


.card {
    color: inherit;
    text-decoration: none;

    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}

.card:hover {
    border: 1px solid #130654;
    /*-webkit-transform: scale(1.005);*/
}

.blue {
    color:  #130654;
}

.blue-hover:hover {
    background-color:  #130654 !important;
}

.my_version{
    text-align: right;
    margin: 0 25px 0 0 !important;
}

#documentacion-contexto > h1{
    margin-bottom: 0px !important;
}

#documentacion-contexto > p:first-of-type {
    margin-bottom: 0px !important;
}

span.sig-prename.descclassname > span.pre {
    color:  #e83e8c !important;
}

span.sig-name.descname > span.pre {
    color:  #e83e8c !important;
}

code > span.pre {
    font-size: 130% !important;
}

a > code > span.pre {
    color:  #130654 !important;
    /*font-size: 130% !important;*/
}

a > code > span.pre:hover {
    color:  red !important;    
    /*font-size: 130% !important;*/
}

div#funciones-auxiliares-para-limpieza-de-textos > p > a.internal {
    color:  #130654 !important;
    font-weight: bold !important;
}

div#funciones-auxiliares-para-limpieza-de-textos > p > a.internal:hover {
    color:  red !important;
    font-weight: bold !important;
}

button.copybtn {
    width: 105% !important;
    max-width: 30px !important;

    height: 105% !important;
    max-height: 30px !important;
}

/*
li {
    text-align: justify;
}

ol li {
    padding-bottom: 5px;
}

p[class="caption"] {
    text-align: center;
}

div[class="wy-menu wy-menu-vertical"] p[class="caption"] {
    text-align: left;
}

.wy-nav-content {
    max-width: 1200px !important;
}
*/

/* replace the copyright to eliminate the copyright symbol enforced by
   the ReadTheDocs theme but eschewed by our legal team */

/*
div[role=contentinfo] {
    visibility: hidden;
    position: relative;
}

div[role=contentinfo]:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "DNP - 2020";
}

tbody tr[class="row-even"] td {
    background-color: #e7f2fa !important;    
}
*/